.bg-custom {
    background: linear-gradient(to right, #161e28, #181e28);
}

.bg-navbar {
    background: linear-gradient(to right, #0F1925, #23494E);
}

.bg-card {
    background: linear-gradient(35deg, #161d28, #161520);
    width: 18rem;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.43)!important;

}

.card-img-wrapper, .card-body {
    overflow: hidden;
    height: 50%;
    transition: height 0.8s ease;
    background-color: #161d28;
}

.card-img-wrapper:hover {
    height: 100%;
}

.card-img-wrapper:hover +  .card-body {
    /*Allows for visibility*/
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.card .card-body {
    color:rgba(255,255,255,0.34);
    transition: color 0.8s;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 70%;*/
    transform: translateY(0em);
    transition: transform 0.8s;
}

.text-navbar {
    color: #db5d36;
}

/*Carousel-inner*/
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}